  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button type="button" name="button"></button>
    <div class="home-link container">
      {{#link-to 'index'}}BUSTLE{{/link-to}}
    </div>
  </nav>
  <div class="container">

    {{outlet}}

  </div>
  <hr>
  <footer></footer>
